# Ignore the data path (30+ GB)
data/*

# YOLO models
yolo*.pt

# MobileCLIP models
mobileclip_*.pt

# Ignore python cache files
__pycache__/*
datasets/__pycache__/*
misc/__pycache__/*

# Ignore output directories
runs/*

# Ignore WandB directory
wandb/*

# Ignore .vscode
.vscode/*
