albumentations==2.0.8
isort==6.0.1
matplotlib==3.10.3
numpy==1.26.4
opencv-python==4.11.0.86
pandas==2.3.0
pillow==11.2.1
PyYAML==6.0.2
requests==2.32.4
rfdetr @ git+https://github.com/roboflow/rf-detr.git@ed54776d02698b8bace3a7cfe998029ed8fffa2f
roboflow==1.1.66
scikit-learn==1.7.0
shapely==2.1.1
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
tqdm==4.67.1
ultralytics==8.3.160
wandb==0.20.1
